<%= form_for([@post, @post.comments.build]) do |f| %>
	<p>
		<%= f.text_area :message, :placeholder => 'Share your thoughts on this story', label: false %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>