<h1>Posts.Index</h1>
<% @posts.each do |post| %>
	<h2><%= link_to post.title, post %></h2>
	<p><%= post.intro %></p>
	<p> By <%= post.user.full_name %></p>
<% end %>

<%= link_to "New Post", new_post_path %>